<div id="image-wrapper">
    <img id="image-a" src="http://placehold.it/440x440" class="tooltips" title="This is Image A">
    <img id="image-b" src="http://placehold.it/440x440" class="tooltips" title="This is Image B">
</div>
<script src="/index.js" type="text/javascript"></script>